<!-- WRAPPER-->
<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">

                <div class="section background-opacity page-title-1 set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper">
                            <h2 class="captions">Employability Study Details</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="">Program</a>
                                </li>
                                <li>
                                    <a href="">Jobs</a>
                                </li>
                                <li>
                                    <a href="">details</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- show program  -->
                <div class="section">
                    <div class="search-input">
                        <div class="container">
                            <div class="search-input-wrapper">

                                <div class="col-md-4">
                                    <select class="select-width" id="select-program">
                                        <option value="p-1">Bachelor of Information Technology (Software Development)</option>
                                        <option value="p-2">Bachelor of Education (Early Childhood)</option>
                                        <option value="p-3">Bachelor of Nursing (Mount Gambier)</option>
                                        <option value="p-4">Bachelor of Commerce (Accounting)</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="select-width" id="select-skill">
                                        <option value="h">Hard skills</option>
                                        <option value="s">Soft skills</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="select-width" id="select-sub">
                                        <option value="s-1">Matched skills (Overall)</option>
                                        <option value="s-2">Matched skills (by classification of jobs)</option>
                                        <option value="s-3">Matched skills (by states of jobs)</option>
                                        <option value="s-4">Unmatched skills (Overall)</option>
                                        <option value="s-5">Unmatched skills (by classification of jobs)</option>
                                        <option value="s-6">Unmatched skills (by states of jobs)</option>
                                    </select>
                                </div>

                                <div class="col-md-12 search-padding">
                                    <button class="form-submit btn btn-blue" id="show-details-chart">
                                        <span>Show data analysis
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- show course information  -->
                <div class="section section-padding-modified">
                    <div class="container">
                        <h1 class="course-title">Data analysis</h1>
                        <span>The thickness of the line represent correlation</span>
                
                        <div class="course-info info">
                            <div class="date-time item" id="data-analysis">
                                
                            </div>
                        </div>
                
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>