<header>
    <div class="header-topbar">
        <div class="container">
            <div class="topbar-left pull-left">
                <div class="email">
                    <a href="#">
                        <img src="/public/images/logo/logo-carousel-1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main homepage-01">
        <div class="container">
            <div class="header-main-wrapper">
                <div class="navbar-heade">
                    <div class="logo pull-left">
                        <a href="/" class="header-logo">
                            <img src="/public/images/logo-color-1.png" alt="" />
                        </a>
                    </div>
                </div>
                <nav class="navigation collapse navbar-collapse pull-right">
                    <ul class="nav-links nav navbar-nav">
                        <li>
                            <a href="/" class="main-menu">Summary</a>
                        </li>
                        <li>
                            <a href="/details" class="main-menu">Details</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>