<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

<body>

    <% include ../partials/header %>

    <% include ../partials/details %>

</body>

    <% include ../partials/scripts %>

    <!-- MAIN JS-->
    <script src="/public/js/details.js"></script>
    <script src="/public/js/chart.js"></script>

</html>