<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

<body>

    <% include ../partials/header %>

    <% include ../partials/summary %>

</body>

    <% include ../partials/scripts %>

    <!-- MAIN JS-->
    <script src="/public/js/chartist-bar-labels.js"></script>
    <script src="/public/js/main.js"></script>



</html>